.heartButton {
    background: transparent;
}

.heartButtonContainer {
    position: relative;
    border: none;
    cursor: pointer;
    width: 150px;
    background: transparent;
}

.buttonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 16pt;
    font-family: Helvetica;
    font-weight: bolder;
    color: #b63b3f;
    display: inline-block;
}

.heartImage {
    object-fit: cover;
    width: 100%;
    /* filter: hue-rotate(80deg) saturate(20%) brightness(180%); */
}