.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: min(100px, 1rem);
  min-height: 100vh;
  background: rgb(255, 197, 217);
}

.underConstruction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  padding: 0 20px;
  font-size: 1.5rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circleOne {
  margin-top: min(5vh, 100px);
}

@media (min-width: 768px) {
  .valentineGif {
    width: min(500px, 50vw);
    height: auto;
  }
}

@media (max-width: 767px) {
  .main {
    padding-top: 1rem;
  }

  .valentineGif {
    margin-top: min(10vh, 250px);
    width: 100%;
    height: auto;
  }
}

.message {
  padding-top: 24px;
  padding-bottom: 20px;
  height: 50px;
  font-size: 24px;
}