.underConstruction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  padding: 0 20px;
  font-size: 1.5rem;
}

.fullPageCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255,197,217);
  z-index: 1;
}

.fullPageCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* pointer-events: none; */
  /* background: rgba(255, 0, 0, 0.356); */
}

.backgroundGif {
  /* max-width: 500px;  */
  width: 100%;     
  height: auto;   
  max-height: 360px;
  object-fit: contain;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.backgroundContainer {
  width: 100%;
  height: 100vh; 
  position: relative;
}

.circleOne {
  margin-top: min(5vh, 100px);
}